:root {
  --font-weight-bold: 800;
  --font-weight: 700;
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --font-color-white: hsl(0, 0%, 100%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --box-shadow: 10px 10px 80px 1px hsl(221, 100%, 96%);
  --border-radius: 30px;
  --font-size: 15px;
  --background-color-light-red: hsla(0, 100%, 67%, 10%);
  --background-color-orangey-yellow: hsla(39, 100%, 56%, 10%);
  --background-color-green-teal: hsla(166, 100%, 37%, 10%);
  --background-color-cobalt-blue: hsl(234, 85%, 45%, 10%);
  --dark-gray-blue: hsl(224, 30%, 27%);
  --violet-persian-gradient: linear-gradient(
    0deg,
    hsl(241, 72%, 46%),
    hsl(256, 72%, 46%)
  );
  --light-slate-light-royal-blue: linear-gradient(
    0deg,
    hsl(241, 81%, 54%),
    hsl(252, 100%, 67%)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

body {
  height: 100vh;
}

.body_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  font-size: 18px;
}

.color_capsule {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  margin-bottom: 25px;
  border-radius: 8px;
}

.color_capsule .color_capsule__icon_text {
  display: flex;
  gap: 16px;
}

.results_container {
  height: 45%;
}

.results_container__content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 48px;
  color: var(--font-color-white);
  background: var(--light-slate-light-royal-blue);
  border-radius: 0px 0px 30px 30px;
  height: 100%;
}

.body_wrapper .results_container__content_wrapper .content_wrapper__headline {
  opacity: 0.8;
}

.text_wrapper__subHeadering {
  margin-top: 8px;
  opacity: 0.6;
}

.great {
  font-weight: 600;
  font-size: 22px;
}

.results_container__numbers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background: var(--violet-persian-gradient);
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.body_wrapper .summary_wrapper {
  padding: 30px;
  height: 55%;
}
.body_wrapper .summary_wrapper .summary_container_content_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 5px;
}

.body_wrapper .summary_container_content_wrapper .summary_wrapper_headline {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 800;
  margin-bottom: 25px;
}

.first {
  font-weight: 800;
  font-size: 50px;
  margin-bottom: 10px;
}
.second {
  font-size: 15px;
  opacity: 0.5;
}
.summary_container_content_wrapper .summary_content .reaction {
  background-color: var(--background-color-light-red);
}

.summary_container_content_wrapper .summary_content .memory {
  background-color: var(--background-color-orangey-yellow);
}
.summary_container_content_wrapper .summary_content .verbal {
  background-color: var(--background-color-green-teal);
}
.summary_container_content_wrapper .summary_content .visual {
  background-color: var(--background-color-cobalt-blue);
  margin-bottom: 30px;
}
.summary_container_content_wrapper .summary_content .reaction_text {
  color: var(--light-red);
  font-weight: var(--font-weight);
}

.summary_container_content_wrapper .summary_content .memory_text {
  color: var(--orangey-yellow);
  font-weight: var(--font-weight);
}

.summary_container_content_wrapper .summary_content .verbal_text {
  color: var(--green-teal);
  font-weight: var(--font-weight);
}

.summary_container_content_wrapper .summary_content .visual_text {
  color: hsl(234, 85%, 45%);
  font-weight: var(--font-weight);
}

.continue_button {
  background-color: var(--dark-gray-blue);
  padding: 16px 140px;
  border-radius: 25px;
  color: var(--font-color-white);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}
.reaction_numbers {
  display: flex;
}
.current_value {
  font-weight: var(--font-weight-bold);
  margin-right: 4px;
}

/* media query for desktop */
/* min-width = größer gleich 700px */
@media only screen and (min-width: 700px) {
  .results_summary {
    display: flex;
    flex-direction: row;
    background-color: var(--font-color-white);
    justify-content: center;
    width: fit-content;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }
  .results_container {
    height: 100%;
    width: 350px;
  }
  .body_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .results_container__content_wrapper {
    border-radius: var(--border-radius);
    height: 100%;
  }
}
